#joinBox { padding-bottom:120px }
.subTbox { height:230px; 
    background:url("../images/bgSubTit07.jpg") no-repeat center/cover; }
.subTbox h2 { 
    font-size:41px; 
    color:#fff;
    text-align:center;
    line-height:230px; }    
#joinBox h3 {padding:50px 0px 40px; 
    font-size:30px; color:#333 }
#joinBox .col1 { width:20%; background:#eee }
#joinBox .col2 { width:80% }
#joinBox td,
#joinBox th { border:1px solid #ddd;
    padding:10px; font-weight:normal; 
    text-align:left }
#joinBox fieldset { margin-bottom:50px }
#joinBox legend { position:static;
        text-indent:0px; font-size:18px;
        font-weight:bold; display:block; 
        margin:10px 0px }
#joinBox h4 { font-size:18px;
    font-weight:bold; 
    margin:20px 0px }        

#joinBox #idinfo,
#joinBox #pwinfo,
#joinBox #irum,
#joinBox #email,
#joinBox #emailcom { width:170px; height:30px; 
    padding-left:1em; }    

#joinBox #zipcode { width:100px; height:30px;
    text-align:center; }
#joinBox #zipbtn { margin-left:10px;
    height:30px; width:60px;
    border-radius:3px; background:#eee;
}
#joinBox #addr1,
#joinBox #addr2 {
    width:350px;
    height:30px;
    padding-left:1em;
    margin-right:10px; }    
#joinBox #hp1,
#joinBox #hp2 { height:30px; width:100px; }
#joinBox select {height:30px; padding:0px 10px; }    

#joinBox .btn { text-align:center; margin-bottom:100px;  }
#joinBox .btn input[type=submit] { border-radius:5px; width:80px; height:40px; 
	background:#000; color:#fff; border:none; margin:20px 10px }
#joinBox .btn input[type=reset] { border-radius:5px; width:80px; height:40px; 
	background:#ddd; border:none; margin:20px 10px }

#joinBox #man+label { margin-right:30px }

#joinBox #birth_y { width:100px; height:30px }
#joinBox #birth_m,
#joinBox #birth_d { width:50px; height:30px }
#joinBox #plus { margin-left:50px }
#joinBox #plus+label { margin-right:30px }
#joinBox textarea { padding:5px }

#joinBox .guide {
	border:1px solid #ddd;
	background:#eee;
	padding:20px;
}
#joinBox .guidecontent {
	border:1px solid #ddd;
	background:#fff;
	height:100px;
	overflow-y:scroll;
    padding:10px; 
    margin-bottom:10px
}